body {background-color: orange;
font-family: times new roman}

/* Give your page a fun background color */
h1 {color: navy;
text-align: center;}
footer {color: indigo;
font-style:italic;
}
img {border: 4px solid indigo;
border-radius: 10px;}
/* Make the header and footer a different color from the background */
/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
